<div data-role="view" id="place-details-view" data-id="place-details-view"
    data-layout="main-layout" data-title="Place Details"
    data-show="app.viewModels.placeDetails.init">
    <p>Place Details</p>
    <div data-role="scroller">
        <h2>Title</h2>
        <p data-bind="text: place.title"></p>
        <h2>Description</h2>
        <p data-bind="text: place.description" />
        <h2>Picture</h2>
        <img data-bind="attr: { src: place.pictureUrl }" id="image-uploaded-picture" />
        <h2>Address</h2>
        <p data-bind="text: place.address"></p>
        <a data-bind="attr: { href: place.mapAddress }">View on map</a>
    </div>
</div>
